{% extends "blog/base.html" %}
{% load static %}
{% block content %}


<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/about.css' %}">
    <!-- Vendor CSS Files -->
 <!-- <link href="{% static 'blog/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'blog/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">-->
  <link href="{% static 'blog/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'blog/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <!--<link href="{% static 'blog/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'blog/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">-->

    <!-- Bootstrap CSS -->
   <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">-->

  </head>
  <body>
    
    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
    <main id="main">

            
        <!-- ======= About Section ======= -->
        <section id="about" class="about section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>About</h2>
              <h3>Find Out More About <span>Hemp-R</span></h3>
              <p>A new step to sustainable development</p>
            </div>
    
            <div class="row">
              <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="{% static 'blog/images/Hemp-R (1).png' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>Introduction</h3>
                <p class="fst-italic">
                  The reformist trends in Cannabis policy globally is an ongoing movement unlikely to be stopped. A deficit of democratic monitoring of the 
                  generalization of legal Cannabis markets could represent a threat for affected populations and public health. Ethics are needed. A renewed 
                  interest and takeover of the topic Cannabis by all categories of the population are urgent. A one-size-fits-all policy seems neither desirable 
                  nor possible, both for geographical imperatives and for the diversity of uses and products of the plant. This makes consensual policy models 
                  (exportable and generalizable) difficult to emerge. Rather than trying to solve the equation of the perfect Cannabis policy and its infinite 
                  variables, a more feasible approach would be to step aside, list all the different public policies that affect, or are involved with Cannabis, 
                  and address them individually.</p> <p>The 2030 Agenda for Sustainable Development and its 17 Goals is but a perfect tool for this purpose. This platform 
                  highlights important research and experiential outcomes from scholars, civil society organizations, affected populations, 
                  and market stakeholders. It seeks to show the potential of the Cannabis plant in appropriately regulated settings as transformative 
                  for our societies – so long as ethical practices and sustainable approaches are kept central. This document is not intended to be an exhaustive guide.
                   It is designed as a valuable resource to contribute to post-prohibition studies, and help understand, from diverse public policy perspectives, 
                   the links between the policies of Cannabis and the Sustainable Development Goals, and the impact of the former on the latter.
                </p>
                <!--<ul>
                  <li>
                    <i class="bx bx-store-alt"></i>
                    <div>
                      <h5>Ullamco laboris nisi ut aliquip consequat</h5>
                      <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p>
                    </div>
                  </li>
                  <li>
                    <i class="bx bx-images"></i>
                    <div>
                      <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                      <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                    </div>
                  </li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                  culpa qui officia deserunt mollit anim id est laborum
                </p>-->
              </div>
            </div>
    
          </div>
        </section>
        <section id="about" class="about section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <!--<h2>About</h2>-->
              <h3><span>Sustainable Development</span></h3>
              <p></p>
            </div>
    
            <div class="row">
              <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="{% static 'blog/images/SDev.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>What is it?</h3>
                <p class="fst-italic">
                  Sustainable development is the idea that human societies must live and meet their needs without compromising the ability of future 
                  generations to meet their own needs. The “official” definition of sustainable development was developed for the first time in the 
                  <a  href= "https://www.britannica.com/topic/Brundtland-Report"><b>Brundtland Report</b></a> in 1987.
                  <p> sustainable development is a way of organizing society so that it can exist in the long term. This means taking into
                   account both the imperatives present and those of the future, such as the preservation of the environment and natural resources or 
                   social and economic equity.
                  </p>
                </p>
              </div>
            </div>
    
          </div>
        </section>
        <section id="about" class="about section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <!--<h2>About</h2>-->
              <h3><span>United Nations On Sustainable Development</span></h3>
              <p></p>
            </div>
    
            <div class="row">
              <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="{% static 'blog/images/UN17.png.crdownload' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <h3>THE 17 GOALS | Sustainable Development</h3>
                <p class="fst-italic">
                  <a href="https://sustainabledevelopment.un.org/post2015/transformingourworld"><b> 2030 Agenda for Sustainable Development</b></a>, adopted by all United Nations Member States in 2015, provides a shared blueprint 
                  for peace and prosperity for people and the planet, now and into the future. At its heart are the 17 Sustainable Development 
                  Goals (SDGs), which are an urgent call for action by all countries - developed and developing - in a global partnership. 
                  They recognize that ending poverty and other deprivations must go hand-in-hand with strategies that improve health and education, 
                  reduce inequality, and spur economic growth – all while tackling climate change and working to preserve our oceans and forests.
                  <p>
                  The SDGs build on decades of work by countries and the UN, including the<a href="https://www.un.org/development/desa/en/"><b> UN Department of Economic and Social Affairs</b></a>
                  </p>
                  </div>
                  
                  </p>
                </p>
              </div>
            </div>
    
          </div>
        </section>
        <div class="list-group">
                    
                    
          <button type="button" class="list-group-item list-group-item-action"><li> June 1992, at the Earth Summit in Rio de Janeiro, Brazil, more than 178 countries adopted Agenda 21, a comprehensive plan of action to build a global partnership for sustainable development to improve human lives and protect the environment.</button>
          <button type="button" class="list-group-item list-group-item-action"><li>Member States unanimously adopted the Millennium Declaration at the Millennium Summit in September 2000 at UN Headquarters in New York. The Summit led to the elaboration of eight Millennium Development Goals (MDGs) to reduce extreme poverty by 2015.
          </button>
          <button type="button" class="list-group-item list-group-item-action"><li>The Johannesburg Declaration on Sustainable Development and the Plan of Implementation, adopted at the World Summit on Sustainable Development in South Africa in 2002, reaffirmed the global community's commitments to poverty eradication and the environment, and built on Agenda 21 and the Millennium Declaration by including more emphasis on multilateral partnerships.
          </button>
          <button type="button" class="list-group-item list-group-item-action" ><li>At the United Nations Conference on Sustainable Development (Rio+20) in Rio de Janeiro, Brazil, in June 2012, Member States adopted the outcome document "The Future We Want" in which they decided, inter alia, to launch a process to develop a set of SDGs to build upon the MDGs and to establish the UN High-level Political Forum on Sustainable Development. The Rio +20 outcome also contained other measures for implementing sustainable development, including mandates for future programmes of work in development financing, small island developing states and more.
          <button type="button" class="list-group-item list-group-item-action"><li>In 2013, the General Assembly set up a 30-member Open Working Group to develop a proposal on the SDGs.
          </li></button>
          <button type="button" class="list-group-item list-group-item-action"><li>In January 2015, the General Assembly began the negotiation process on the post-2015 development agenda. The process culminated in the subsequent adoption of the 2030 Agenda for Sustainable Development, with 17 SDGs at its core, at the UN Sustainable Development Summit in September 2015.
          </li></button>
          <button type="button" class="list-group-item list-group-item-action"><li>2015 was a landmark year for multilateralism and international policy shaping, with the adoption of several major agreements:
          
        
          <li>Sendai Framework for Disaster Risk Reduction (March 2015)</li>
          <li>Addis Ababa Action Agenda on Financing for Development (July 2015)</li>
          <li>Transforming our world: the 2030 Agenda for Sustainable Development with its 17 SDGs was adopted at the UN Sustainable Development Summit in New York in September 2015.</li>
          <li>Paris Agreement on Climate Change (December 2015)</li>                  
      </li></button>
          <button type="button" class="list-group-item list-group-item-action"><li>Now, the annual High-level Political Forum on Sustainable Development serves as the central UN platform for the follow-up and review of the SDGs.
          </li></button>
          <p>
        <div class="embed-responsive embed-responsive-16by9">
          <div class="video-embed-field-provider-youtube video-embed-field-responsive-video"><iframe width="854" height="480" frameborder="0" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/0XTBYMfZyrM?autoplay=0&amp;start=0&amp;rel=0"></iframe>
          </div>
        </div>
        </p>
     <!-- End About Section -->
        
     <!-- ======= Services Section ======= -->
     <section id="services" class="services">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Services</h2>
            <h3>Check our <span>Services</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4><a href="">Lorem Ipsum</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4><a href="">Sed ut perspiciatis</a></h4>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4><a href="">Magni Dolores</a></h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4><a href="">Nemo Enim</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-slideshow"></i></div>
                <h4><a href="">Dele cardo</a></h4>
                <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon"><i class="bx bx-arch"></i></div>
                <h4><a href="">Divera don</a></h4>
                <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Services Section -->
       <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Team</h2>
            <h3>Our Hardworking <span>Team</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <div class="member-img">
                  <img src="{% static 'blog/images/profile.jpg'%}" class="img-fluid" alt="">
                  <div class="social">
                    <a href="https://twitter.com/KirtiwardhanR/"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.facebook.com/Kirtiwardhanrawal/"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/Kirtiwardhanrawal/"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/kirtiwardhan-rawal-b167031a2/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Kirtiwardhan Rawal</h4>
                  <span>Full Stack Developer</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
              <div class="member">
                <div class="member-img">
                  <img src="{% static 'blog/images/mz.jpg'%}"  class="img-fluid" alt="">
                  <div class="social">
                    <a href="https://twitter.com/mzulfaquar5253/"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.facebook.com/mufaddal.zulfaquar"><i class="bi bi-facebook"></i></a> 
                    <a href="https://www.instagram.com/mufaddal_zulfaquar/"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/mufaddal-zulfiquar-63a886159/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Mufaddal Zulfiquar</h4>
                  <span>Full Stack Developer</span>
                </div>
              </div>
            </div>
        </div>
        
      </section>--><!-- End Team Section -->

       <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <h3>Our Hardworking <span>Team</span></h3>
          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->


       <!-- Template Main JS File -->
  <script src="static/blog/main.js"></script>
  </body>
</html>
{% endblock content %}